
.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}


.btn-custom {
    background-color: #EE4C7C;
    color: white;
    border: 1px solid #EE4C7C;
    transform: 0.3s;
}

.btn-custom:hover{
  background-color: #7a0030;
  color: #fff;
  border-color: #7a0030;
}


/* Admin html */

.bb{
  min-height: 100vh;
  background-color: ;

}
 nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
nav.logo-ima{
  min-width: 25px;
}
